.form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 280px;
    height: 320px;
    background-color: antiquewhite;
    border-radius: 10px;
    box-shadow: 10px 10px 5px rgb(236, 193, 193);
}

.form input{
    width: 80%;
    height: 25px;
    margin:10px;
    border-radius: 10px;
    border: 1px solid black;
    padding:4px;
}

.form button{
    height: 30px;
    width: 120px;
    border: 1px none black;
    background-color: aqua;
    color: white;
    cursor: pointer;
    border-radius: 12px;
    
}



.form button:active{
    color: black;
}

.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top, pink , rgb(243, 200, 200), white);
    height: 100vh;
    width: 100vw;
}